<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>{{ article.name }}</h1>
    </header>

    <main>
        <article class="news-card">
            <p>{{ article.text | replace('\n', '<br>') | safe }}</p>
            <small>{{ article.update_time }}</small>
        </article>
        <a href="/" class="action-btn">Back to News</a>
    </main>
</body>
</html>
